* {
    margin: 0;
    padding: 0;
}

.fondo  {
    background-color: #07A1E1 !important;
}

.fondo-footer{
    background-color: #aca9a9;
}

.texto-centrado {
    text-align: center;
}

.fuente {
    font-family: 'Amatic SC', cursive;
}


.titulo-icono {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo-icono h1 {
    font-weight: bold;
    padding-left: 10px;
}

.parrafo-icono {
    margin: auto;
    width: 70%;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
}

.icono {
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.3);
}


/*-------   FORMULARIO   ---------*/
.formulario {
    margin-left: 10px;
}

.display-flex {
    display: flex;
}

.fondoAdopcion{
    -webkit-filter: grayscale(100%);
    background-image: url('../img/fondoAdopcion.jpg ');
    background-attachment: fixed;
    height: 450px;
    filter: grayscale(100%);
}


