.fondo  {
    background-color: #07A1E1 !important;
}

.fuente {
    font-family: 'Amatic SC', cursive;
}

.fuente-bold {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.titulo-icono {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo-icono h1 {
    font-weight: bold;
    padding-left: 10px;
}

.parrafo-icono {
    margin: auto;
    width: 70%;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
}

.icono {
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
}

.zoom {
    width: 75px;
    margin-left: 50px;
}

.zoom:hover {
    width: 85px;
}


/*-------   FORMULARIO   ---------*/
.formulario {
    margin-left: 10px;
}

.display-flex {
    display: flex;
}


